<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HuaXinTech_Host" value="http://sh2.ipyy.com/"/>
    <add key="HuaXinTech_Username" value="username"/>
    <add key="HuaXinTech_PasswordMD5" value="password"/>
    <add key="HuaXinTech_Signature" value="【Neuzilla】"/>

    <add key="CCP_Host" value="app.cloopen.com"/>
    <add key="CCP_Port" value="8883"/>
    <add key="CCP_AccountSid" value="accountsid"/>
    <add key="CCP_AccountToken" value="token"/>
    <add key="CCP_AppId" value="appid"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
