<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="vendors" type="Neuzilla.SMSProvider.Configuration.VendorsConfigSection, Neuzilla.SMSProvider" />
  </configSections>
  <vendors>
    <vendor name="HuaXinTech" host="http://sh2.ipyy.com/" username="username" password="password" signature="【Neuzilla】" />
    <vendor name="CCP" host="app.cloopen.com" port="8883" username="accountsid" token="token" appid="appid" />
    <vendor name="YunPian" host="https://sms.yunpian.com/v2/sms/" accessToken="abcdefg"/>
  </vendors>
  <appSettings>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
